*
!*/
!.gitignore
!/scripts/**
!/btop/**
!/dunst/**
!/fish/**
fish/fish_variables
!/helix/**
!/htop/**
!/hypr/**
!/kitty/**
!/Kvantum/**
!/lf/**
!/lutris/**
!/neofetch/**
!/qt5ct/**
!/swayidle/**
!/swaylock/**
!/vlc/**
!/waybar/**
!/wofi/**
!dolphinrc
!kdeglobals